

.container{
           
    
    height: 400px;
    width: 800px;
    display:grid;
    margin: 100px;
    grid-column-gap:5px ;
    grid-gap: 10px;
    
}
.item1{
    
    background-color:red;
    height: 150px;

}
.item2{

    background-color:royalblue;
    height: 150px;
}
.item3{
    
    background-color:green;
    height: 150px;

}
.item4{
    
    background-color: purple;
    height: 150px;

}
.item5{
    
    background-color:purple;
    height: 150px;
}
@media only screen and (min-width:768px){
    .item1{
        
        background-color:red;
        height: 150px;
        grid-column:1/5;                                                                                                ;
    
    }
    .item2{
        
        background-color:royalblue;
        height: 150px;
        
        grid-column:3/1 ;
        height: 325px;
        
    }
    .item3{
        
        background-color:green;
        height: 150px;
        grid-column:5/3;
    }
    .item4{
        
        background-color:purple;
        height: 150px;
        grid-column:4/3;
    
    }
    .item5{
    
        background-color:purple;
        height: 150px;
        grid-column:;
}