body{
    font-size: 20px;

}
#container{
    color: 10 px solid red;

}
ul{
    margin: 10px;
    padding: 0;
    list-style: none;
    text-decoration: underline;
}

ul.a{
    text-decoration: none;
}
input, button{
    padding: 5px;
    font-size: 5px;
    border-radius: 15px;

    
}
button{
    background-color:salmon;
}
button:hover{
    color:chartreuse;
}
label{
    color: salmon;
}
