
    


.container{
           
    
    height: 400px;
    width: 800px;
    display: grid;
    
    grid-template-columns: repeat(1fr);
    margin: 100px;

    grid-column-gap:5px ;
    grid-gap: 10px;

    
    
    
    
    

}
.item1{
    
    background-color:red;
    height: 150px;

}
.item2{

    background-color:royalblue;
    height: 150px;
}
.item3{
    
    background-color:green;
    height: 150px;

}
.item4{
    
    background-color: purple;
    height: 150px;

}
.item5{
    
    background-color: yellow;
    height: 150px;
}
@media only screen and (min-width:768px){
    .item1{
        
        background-color:red;
        height: 150px;
        grid-column:1/3;                                                                                                ;
    
    }
    .item2{
        
        background-color:royalblue;
        height: 150px;
        grid-column: 5/3;
    }
    .item3{
        
        background-color:green;
        height: 150px;
        grid-column:1/2;
    }
    .item4{
        
        background-color:purple;
        height: 150px;
        grid-column: 2/5;
    
    }
    .item5{
    
        background-color: yellow;
        height: 150px;
        grid-column:1/5;
}