.red{
    
    color:#3FC359;

}

.font{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; border: saddlebrown;
}

p{
    
    line-height: 25px;
}

d{
    color: sienna;
}



